// Includes global tag rules for Markdown rendered HTML
// Assumes https://github.com/markedjs/marked rendered markdown

@import './type';
@import './color';

// Generate appropriate heading styles
@for $headingIndex from 1 through 5 {
  h#{$headingIndex} {
    @include type-heading('#{$headingIndex}');
    margin: 0;

    strong {
      font-family: var(--font-family-default-medium);
      font-weight: var(--font-weight-medium);
    }
  }
}

// Basic body styling
p {
  @include type-body('m');
  font-size: inherit;
  text-align: inherit;
  margin: 0;

  strong {
    @include type-body('m', true);
  }
}

// Basic list styling
ul,
ol {
  @include type-body('m');
  margin: 0;
}

li {
  list-style-position: inside;
  margin: var(--spacing-2x) 0;
}

// Basic link styling
// See SkyLink for duplicate rules
a {
  @include type-body('m', true);
  @include outline;
  font-size: inherit;
  color: var(--text-color-action-primary);
  border-bottom: solid 2px transparent;
  transition: border-color 0.3s ease-out;
  text-decoration: none;

  &:visited,
  &:active {
    color: var(--text-color-action-primary-hover);
  }

  &:hover {
    color: var(--text-color-action-primary-hover);
    border-color: var(--text-color-action-primary-hover);
  }
}
