@import '_breakpoints';

// The global "line-art leaf" pattern used for Grove's backgrounds.
$widget-background-pattern-url: '//res.cloudinary.com/epantry/image/upload/v1556056115/global/Line%20Illustrations/bgd-hero-leaf.svg';

/// Generate a fixed-width container for non-mobile viewports.
/// Typically used in widgets.
/// @access public
/// @output Constructs rules necessary for a fixed-width container.
@mixin widget-fixed-width {
  margin: 0 var(--spacing-4x);

  @include for-medium-up {
    margin: auto;
    max-width: 62.5rem;
  }

  @include for-large-up {
    margin: auto;
    max-width: 87.5rem;

  }
}
